USE [master]
GO
/****** Object:  Database [SERIESPERSONAJES]    Script Date: 02/03/2023 13:02:28 ******/
CREATE DATABASE [SERIESPERSONAJES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SERIESPERSONAJES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\SERIESPERSONAJES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SERIESPERSONAJES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\SERIESPERSONAJES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SERIESPERSONAJES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SERIESPERSONAJES]
GO
/****** Object:  Table [dbo].[PERSONAJES]    Script Date: 02/03/2023 13:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAJES](
	[IDPERSONAJE] [int] NOT NULL,
	[NOMBRE] [nvarchar](60) NULL,
	[IMAGEN] [nvarchar](250) NULL,
	[IDSERIE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPERSONAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERIES]    Script Date: 02/03/2023 13:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIES](
	[IDSERIE] [int] NOT NULL,
	[NOMBRE] [nvarchar](160) NULL,
	[IMAGEN] [nvarchar](250) NULL,
	[ANYO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSERIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PERSONAJES] ([IDPERSONAJE], [NOMBRE], [IMAGEN], [IDSERIE]) VALUES (1, N'Koothrappali', N'https://i.pinimg.com/originals/cd/ec/06/cdec069e361d3e41b0259fe6991e48a2.png', 6)
INSERT [dbo].[PERSONAJES] ([IDPERSONAJE], [NOMBRE], [IMAGEN], [IDSERIE]) VALUES (2, N'Barney Stinson', N'https://i.pinimg.com/originals/b9/e2/b3/b9e2b367ec3cdd3db683803f36e40b64.jpg', 8)
INSERT [dbo].[PERSONAJES] ([IDPERSONAJE], [NOMBRE], [IMAGEN], [IDSERIE]) VALUES (3, N'Dustin Henderson', N'https://phantom-marca.unidadeditorial.es/4f95e661dc8eaa8c0773c1412bd064cc/assets/multimedia/imagenes/2021/02/16/16134683192170.jpg', 3)
GO
INSERT [dbo].[SERIES] ([IDSERIE], [NOMBRE], [IMAGEN], [ANYO]) VALUES (1, N'Juego de tronos', N'https://cadenaser00.epimg.net/ser/imagenes/2019/05/23/television/1558591913_020782_1558595107_noticia_normal.jpg', 2011)
INSERT [dbo].[SERIES] ([IDSERIE], [NOMBRE], [IMAGEN], [ANYO]) VALUES (2, N'The Mandalorian', N'https://images-na.ssl-images-amazon.com/images/I/71bBDuXUvOL.jpg', 2019)
INSERT [dbo].[SERIES] ([IDSERIE], [NOMBRE], [IMAGEN], [ANYO]) VALUES (3, N'Stranger Things', N'https://e.rpp-noticias.io/xlarge/2020/02/14/145014_901131.png', 2016)
GO
USE [master]
GO
